<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Records</title>
    {%  load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Email</th>
                <th>Employee Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for Employe in employee %}
            <tr>
                <td>{{ Employe.eid }}</td>
                <td>{{ Employe.ename }}</td>
                <td>{{ Employe.eemail }}</td>
                <td>{{ Employe.econtact }}</td>
                <td>
                    <a href="/edit/{{ Employe.eid }}">Edit</a>
                    <a href="/delete/{{ Employe.eid }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:rgb(255, 255, 255);" href="/emp">Add New Record</a></button>
</body>
</html>